<div class="container">
  <div class="form-group">
    <label class="text-uppercase" placeholder="Enter consumption">Enter Consumption</label>
    <input type="number" placeholder="Enter Consumption"class="form-control form-control-no-border" [(ngModel)]="consumption">
  </div>

  <div class="col text-center">
    <button class="btn btn-default" (click)="getProducts(consumption)">Compare</button>
  </div>

  <div *ngIf="ListOfProducts && ListOfProducts.length !== 0">
    <h3 style="padding:20px"> Product Comparision</h3>
    <div class="row" *ngFor="let list of ListOfProducts;">
      <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 col-md-12 ]">
        <ul class="event-list">
          <li>
            <div class="info">
              <h2 class="title">{{list.product}}</h2>
              <p class="desc">{{list.name}}</p>
              <h3 class="float-right">{{list.annualCost}} €</h3>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
